body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.button.verified {
    background-color: #28a745;
}
